Control 3/Instructivo para realizar Practica 2 de C3 2020.docx
Control 3/MODELO MATEMATICO DEL MOTOR DE CORRIENTE CONTINUA.docx
Control 3/Modelo MCC.pptx
Control 3/Practica 2 2020.pdf
Control 3/TP01_TablaZ.pdf
Control 3/TZ por Integral de Convolución.pdf
Maquinas electricas/MAGNETISMO.pdf
Maquinas electricas/materiales_magneticos (1).pdf
Maquinas electricas/materiales_magneticos.pdf
Maquinas electricas/Practicas de Laboratorio-20200319T161626Z-001/Practicas de Laboratorio/Practica de Laboratorio 1.pdf
Maquinas electricas/Practicas de Laboratorio-20200319T161626Z-001/Practicas de Laboratorio/Practica de Laboratorio 2.pdf
Maquinas electricas/Practicas de Laboratorio-20200319T161626Z-001/Practicas de Laboratorio/Practica de Laboratorio 3.pdf
Maquinas electricas/Practicas de Laboratorio-20200319T161626Z-001/Practicas de Laboratorio/Practica de Laboratorio 4.pdf
Maquinas electricas/Practicas de Laboratorio-20200319T161626Z-001/Practicas de Laboratorio/Practica de Laboratorio 5.pdf
Maquinas electricas/Trabajos practicos/Practica de Laboratorio 1.pdf
Maquinas electricas/Trabajos practicos/Practica de Laboratorio 2.pdf
Maquinas electricas/Trabajos practicos/Practica de Laboratorio 3.pdf
Maquinas electricas/Trabajos practicos/Practica de Laboratorio 4.pdf
Maquinas electricas/Trabajos practicos/Practica de Laboratorio 5.pdf
PDS/Lab1/p2 y2.png
PDS/Lab1/p2 y3.png
PDS/Lab1/p2 y4.png
PDS/Lab1/p3 1.png
PDS/Lab1/p3 2.png
PDS/Lab1/p3 3.png
PDS/Lab1/p3 4.png
Telecomunicaciones I/Practica enlace/Datasheet-Furukawa-cat5e-ext.pdf
Telecomunicaciones I/Practica enlace/LiteBeam_AC_Gen2_DS.pdf
Telecomunicaciones I/Practica enlace/LiteBeam_ds.pdf
Telecomunicaciones I/Practica enlace/PtP_linkcalc.pdf
Telecomunicaciones I/Tp1/Preguntas Cap 2.docx
Telecomunicaciones I/Practica de laboratorio AM y DSB/Práctica de Laboratorio - Sistemas de Modulación Lineal - AM y DSB.pdf
PDS/Lab1/LAB 1-PDS-2020.pdf
PDS/Lab1/punto1continua.png
PDS/Lab1/punto1discreta.png
PDS/Lab1/punto2 y1.png
PDS/Gabinete1/P1A.png
PDS/Gabinete1/P1B.png
PDS/Gabinete1/Gabinete1_PDS_Agustin_Avila.zip
PDS/Gabinete1/Práctico de Gabinete Nº1-2020.pdf
Telecomunicaciones I/Practica 1 matlab/Practica de Simulación 1 borrador V3.docx
Telecomunicaciones I/Practica 1 matlab/Practica1.m
Telecomunicaciones I/Practica 1 matlab/practico1matlab.m
Telecomunicaciones I/Practica 1 matlab/borrador v2.pdf
Telecomunicaciones I/Practica 1 matlab/P1.m
Telecomunicaciones I/Practica 1 matlab/Práctica  - MATLAB.doc
PDS/Lab2/LAB 2-PDS-2020.pdf
Telecomunicaciones I/Practica 1 matlab/Scripts Practico 1/filtro (2).m
Telecomunicaciones I/Practica 1 matlab/Scripts Practico 1/filtro.m
Telecomunicaciones I/Practica 1 matlab/Scripts Practico 1/graficaespectro (2).m
Telecomunicaciones I/Practica 1 matlab/Scripts Practico 1/graficaespectro.m
Telecomunicaciones I/Practica 1 matlab/Scripts Practico 1/graficafiltro (2).m
Telecomunicaciones I/Practica 1 matlab/Scripts Practico 1/graficafiltro.m
Telecomunicaciones I/Practica 1 matlab/Scripts Practico 1/graficatemporal (2).m
Telecomunicaciones I/Practica 1 matlab/Scripts Practico 1/graficatemporal.m
Telecomunicaciones I/Practica 1 matlab/Scripts Practico 1/practico1matlab.m
Telecomunicaciones I/Practica 1 matlab/Scripts Practico 1/trabajo (2).m
Telecomunicaciones I/Practica 1 matlab/Scripts Practico 1/trabajo.m
PDS/Lab2/~$boratorio 2 PDS Juan Agustin Avila.docx
Telecomunicaciones I/Practica de laboratorio AM y DSB/design.out
Telecomunicaciones I/Practica de laboratorio AM y DSB/design.net
