Telecomunicaciones I/Practica enlace/Datasheet-Furukawa-cat5e-ext.pdf
Telecomunicaciones I/Practica enlace/LiteBeam_AC_Gen2_DS.pdf
Telecomunicaciones I/Practica enlace/LiteBeam_ds.pdf
Telecomunicaciones I/Practica enlace/PtP_linkcalc.pdf
Telecomunicaciones I/Practica 1 matlab/Practica de Simulación 1 borrador V3.docx
Telecomunicaciones I/Practica 1 matlab/Practica1.m
Telecomunicaciones I/Practica 1 matlab/practico1matlab.m
Telecomunicaciones I/Practica 1 matlab/borrador v2.pdf
Telecomunicaciones I/Practica 1 matlab/P1.m
Telecomunicaciones I/Practica 1 matlab/Práctica  - MATLAB.doc
PDS/Lab2/LAB 2-PDS-2020.pdf
Telecomunicaciones I/Practica 1 matlab/Scripts Practico 1/filtro (2).m
Telecomunicaciones I/Practica 1 matlab/Scripts Practico 1/filtro.m
Telecomunicaciones I/Practica 1 matlab/Scripts Practico 1/graficaespectro (2).m
Telecomunicaciones I/Practica 1 matlab/Scripts Practico 1/graficaespectro.m
Telecomunicaciones I/Practica 1 matlab/Scripts Practico 1/graficafiltro (2).m
Telecomunicaciones I/Practica 1 matlab/Scripts Practico 1/graficafiltro.m
Telecomunicaciones I/Practica 1 matlab/Scripts Practico 1/graficatemporal (2).m
Telecomunicaciones I/Practica 1 matlab/Scripts Practico 1/graficatemporal.m
Telecomunicaciones I/Practica 1 matlab/Scripts Practico 1/practico1matlab.m
Telecomunicaciones I/Practica 1 matlab/Scripts Practico 1/trabajo (2).m
Telecomunicaciones I/Practica 1 matlab/Scripts Practico 1/trabajo.m
Telecomunicaciones I/Practica de laboratorio AM y DSB/design.out
Telecomunicaciones I/Practica de laboratorio AM y DSB/design.net
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/arduino.json
.vscode/tasks.json
